body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f9f9f9;
  font-size: 14px;
}

div {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* top navbar */

.top-navbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  z-index: 20;
}

/* navbar left part */
.top-navbar-cont1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 185px;
  padding-right: 25px;
}

.top-navbar-cont1 > i {
  padding: 10px;
  color: #606060;
}

.top-navbar-cont1 > img {
  position: relative;
  left: 0;
  margin: 8px 0;
  cursor: pointer;
}
.top-navbar-cont1 > span {
  position: relative;
  top: -10px;
  left: 0;
  font-size: 10px;
}
/* navbar middle part */
.top-navbar-cont2 {
  height: 40px;
  width: 728px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-bar-cont {
  flex: 2 0;
  display: flex;
}

.search-bar-cont input {
  flex: 9 0;
  height: 32px;
  border: 1px solid #cccccc;
  padding: 3px 8px;
  outline: none;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 1rem;
}

.search-bar-cont button {
  flex: 0 1 64px;
  height: 32px;
  box-sizing: border-box;
  padding: 1px 6px;
  background: #f8f8f8;
  border: 1px solid #cccccc;
  border-left: none;
  border-radius: 3px;
  margin-left: -3.97px;
  outline: none;
  cursor: pointer;
}

.search-bar-cont button > i {
  color: #9f9f9f;
  font-size: 15px;
}

.microphone-cont > i {
  color: #666666;
  font-size: 20px;
}

.microphone-cont {
  flex: 0 1;
  height: 24px;
  padding: 2px 5.13px;
  margin: 8px;
}

@media(max-width: 650px){
  .top-navbar-cont2 {
    display: none;
  }
}

/* navbar right part */
.top-navbar-cont3 {
  width: 225px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
}

.icon-cont {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 9.5px 0;
}

.icon-cont .fas {
  color: #606060;
}

.avatar-cont {
  width: 60px;
  height: 40px;
  padding: 0 6px;
  text-align: center;
}

.avatar-cont img {
  margin-top: 4px;
  clip-path: circle(50%);
  width: 32px;
  height: 32px;
  object-fit: scale-down;
}

@media(min-width: 651px){
  .hide-icon{
    display: none;
  }
}

/* content & sections*/
.content-container {
  position: absolute;
  top: 56px;
  margin: 0px 39.5px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 6% 64% 25% 5%;
  grid-template-rows: auto auto auto;
}

.video-section {
  grid-column: 2/3;
  grid-row: 1/2;
}

.comment-section {
  grid-column: 2/3;
  grid-row: 2/4;
}

.recommendations-section {
  grid-column: 3/4;
  grid-row: 1/4;
  margin-left: 5%;
}

@media (max-width: 1025px) {
  .video-section {
    grid-column: 2/4;
    grid-row: 1/2;
  }

  .comment-section {
    grid-column: 2/4;
    grid-row: 4/5;
  }

  .recommendations-section {
    grid-column: 2/4;
    grid-row: 3/4;
    margin:0 0 20px 0;
  }
}

/* video and comment section*/
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title-cont {
  padding: 20px 0 8px 0;
  display: flex;
  flex-direction: column;
  color: #606060;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
}

.title-cont h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #030303;
}

.views-likes-cont {
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.views-likes-cont p {
  margin: 0;
  display: inline;
}

.likes-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 377px;
  height: 100%;
}

.likes-cont-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 6px;
  cursor: pointer;
}

.likes-cont-wrapper i {
  font-size: 24px;
  color: #909090;
  margin-right: 6px;
}

.channel-cont {
  padding: 16px 0;
}

.channel-cont-top {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.channel-name-wrapper {
  width: 85%;
  position: relative;
}

.channel-name-wrapper p,
.channel-name-wrapper .fas {
  margin: 0;
  font-size: 13px;
}

.channel-name-wrapper h2 {
  font-size: 14px;
  cursor: pointer;
}

.channel-image-wrapper img {
  clip-path: circle(50%);
  cursor: pointer;
  margin-right: 16px;
}

.channel-subscriber-wrapper button {
  height: 36px;
  padding: 10px 16px;
  background: #cd322c;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.channel-cont-bottom {
  padding: 0 0 16px 64px;
  border-bottom: 1px solid #e0e0e0;
}

.channel-cont-bottom p {
  margin: 10px 0 46px;
}

.channel-cont-bottom a {
  font-size: 13px;
  color: #616077;
  font-weight: bold;
}

.com-sort-cont {
  margin: 0 0 24px 0;
  display: flex;
  align-items: flex-end;
}

.sort-wrapper {
  margin-left: 30px;
  position: relative;
}

.sort-wrapper img {
  position: relative;
  top: 6px;
  width: 20px;
  opacity: 0.5;
  margin-right: 5px;
}

.sort-wrapper span {
  color: #606060;
}

/* comment-section */
/* -X reserved for first comment */
/* Y for for 2nd+ comment  */
.cmmntX {
  display: grid;
  grid-template-columns: 56px auto 40px;
  grid-template-rows: 16% 16% 16% 25% 25%;
  grid-row-gap: 5px;
  margin-bottom: 35px;
}

.cmmnt {
  display: grid;
  grid-template-columns: 56px auto 40px;
  grid-template-rows: 20px auto 32px 32px;
  grid-row-gap: 5px;
  margin-bottom: 30px;
}

.add-comment {
  height: 42px;
  display: flex;
  margin-bottom: 32px;
}

.add-comment input {
  padding: 0 0 4px;
  height: fit-content;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent #e0e0e0 transparent;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}

.avatar-wrapper img {
  object-fit: scale-down;
  clip-path: circle(50%);
  cursor: pointer;
}

.avatar-wrapper {
  width: 56px;
  height: 42px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.pinned-comment-combined {
  grid-column: 2/3;
  grid-row: 1/3;
  color: #3b3a3a;
  font-size: 13px;
}

.pinned-comment-combined i {
  font-size: 11px;
}

.pinned-wrapper {
  margin-bottom: 8px;
}

.commenter-name-wrapper a:nth-child(1) {
  background: #888888;
  color: #fff;
  border-radius: 10px;
  padding: 2px 8px;
  font-weight: bold;
  margin-right: 5px;
}
.commenter-name-wrapper i {
  color: #fff; /* verified symbol */
}

.commenter-name-wrapperY {
  grid-column: 2/3;
  grid-row: 1/1;
  font-size: 13px;
}

.commenter-name-wrapperY span:nth-child(1) {
  color: #030303;
}

.commenter-name-wrapperY span:nth-child(2) {
  color: #606060;
}

.comment-text-wrapper {
  grid-column: 2/3;
  grid-row: 3/4;
}

.comment-text-wrapperY {
  grid-column: 2/3;
  grid-row: 2/3;
}

.like-reply-box {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: end;
  font-size: 13px;
}

.like-reply-boxY {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: end;
  font-size: 13px;
}

.common1 i {
  font-size: 16px;
  margin-right: 8px;
}

.common1 span {
  margin-right: 8px;
  color: #606060;
}

.common1 a {
  font-weight: bold;
  color: #606060;
}

.replies-wrapper {
  grid-column: 2/3;
  grid-row: 5/6;
  align-self: center;
}

.replies-wrapperY {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: center;
}

.common2 a {
  color: #0f80e8;
  font-weight: bold;
  position: relative;
  padding-left: 24px;
}

.common2 a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  margin-left: -24px;
  border-style: solid;
  border-width: 6px;
  border-color: #0f80e8 transparent transparent transparent;
}

/* recommendation */
.rcmmnd {
  display: grid;
  grid-template-columns: 170px auto 24px;
  grid-column-gap: 8px;
  margin-bottom: 10px;
}

.thumbnail-hovered {
  display: none;
}

.thumbnail,
.vid-info-cont {
  position: relative;
  cursor: pointer;
}

.rcmmnd:hover .thumbnail-hovered,
.rcmmnd:hover .ellipsis-vertical {
  display: block;
}

.watch-later {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  width: 30px;
  height: 30px;
}

.queue {
  position: absolute;
  top: 45px;
  right: 10px;
  background: #000;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.queue img {
  width: 20px;
  object-fit: scale-down;
}

.vid-info-cont p:nth-child(1) {
  margin: 0 0 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.vid-info-cont p:nth-child(2),
.vid-info-cont .fas,
.vid-info-cont span {
  margin: 0;
  font-size: 13px;
  color: #606060;
}

.ellipsis-vertical {
  display: none;
  grid-column: 3/4;
  justify-self: center;
}

/* replace later with avatar-wrapper */
.cmmnt img {
  clip-path: circle(50%);
  width: 40px;
}

/* icons */
.fas {
  font-size: 18px;
  cursor: pointer;
  color: #909090;
}

.save-icon {
  width: 24px;
  height: 24px;
  object-fit: scale-down;
  margin-right: 6px;
}
